services:
  orchestrator:
    build:
      context: .
      dockerfile: Dockerfile
      ssh:
        - default
    env_file:
      - .env
    networks:
      - app_backend
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true
    tmpfs:
      - /tmp
    pids_limit: 300

networks:
  app_backend:
    external: true
